@font-face {
  font-family: PT Sans;
  src:
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:  PT Sans;
  src:
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-light-gray: #eeeeee;
  --basic-lighter-gray: #e5e5e5;
  --basic-gray: #f2f2f2;
  --basic-dark-gray: #EBEBEB;
  --basic-darkest-gray: #A9A9A9;
  --basic-extra-gray: #666666;
  --basic-white: #ffffff;
  --basic-seagul: #81B3D2;
  --basic-seagul-medium: #669EC0;
  --basic-seagul-dark: #5496BD;
  --basic-white-hover: rgba(255, 255, 255, 0.3);
  --basic-shadow: rgba(0, 1, 1, 0.15);
  --box-shadow: rgba(0, 1, 1, 0.2);

  --special: #766357;
  --special-dark: #604E43;
  --special-darkest: #503E33;
}

/*global*/

.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);


  min-height: 100%;
  align-content: start;
}


img {
  max-width: 100%;
  height: auto;
}

/*отключение дефолтных иконок*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* GRID */

.page {
  background-color: var(--basic-gray);
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px var(--box-shadow);
  min-height: 100vh;
}

.main-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.reasons-list {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
}

.reason-item:nth-child(1),
.reason-item:nth-child(2) {
  grid-column: 1 / -1;
}

.reason-item-wide{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.reason-item-text{
  /*grid-column: ;*/
}

.reason-item-img {
  grid-column: 2 / -1;
}

.advise-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
}

.reason-item-wide--second .reason-item-img {
    grid-column: 1 / -2;
}

.reason-item-text {
  background-color: var(--basic-seagul);
}

.search-measure-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.variables {
  grid-column: -1/-3;
}


/*navigation*/

.main-header {
  padding: 0 73px;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
  margin: 0;
}

.site-nav a {
  text-decoration: none;
}

.site-nav,
.reasons-list,
.advise-list,
.social-list,
.infrastructure-list,
.housing-type-list,
.sort-list,
.amora-info-list,
.desert-quail-list,
.villas-diablo-list {
  list-style: none;
  padding-left: 0;
}

.site-nav a {
  color: var(--basic-black);
}

.site-nav a:visited {
  color: var(--special);
}

.site-nav a:hover {
color: var(--basic-seagul);
}

.site-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.main-header-logo {
  margin: 0 auto;
}
/*main*/

.intro {
  display: relative;
  top: 55px;
  margin: 0 auto;
  width: 1200px;
  height: 509px;
  background-color: var(--basic-seagul);
  background: url(../img/main-page-background-shape.svg) center bottom no-repeat, url(../img/background-mountain-main-page.jpg) top center no-repeat;
}

.intro img {
margin-top: 78px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.title-main,
.hashtag,
.footer-phone {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.title-main-description {
  text-transform: uppercase;
  line-height: 26px;
  color: var(--basic-extra-dark);
}

.reason-item {
  background-color: var(--basic-light-gray);
}

.advise-item {
  background-color: var(--basic-white);
}

[class^="title-reason"] {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

[class^="reason-description"] {
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.title-reason-1, .title-reason-2,
.num-1, .num-2,
.reason-description-1, .reason-description-2 {
  color: var(--basic-white);
}

.advise-title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.advise-description {
  color: var(--basic-extra-dark);
  text-transform: uppercase;
}

/*catalog*/


.search-measure {
  padding: 0 73px;
  background-image: url(../img/background-blur-catalog.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 217px;
}

.search-measure-form [type="checkbox"] {
  display: none;
}

.search-measure-form label::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icons/checkbox.svg);
  width: 23px;
  height: 23px;
}

.search-measure-form input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icons/checkbox-checked.svg);
  width: 27px;
  height: 23px;
}


.search-measure-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.infrastructure,
.housing-type {
  text-align: left;
}

.variables {
  grid-column: 3 / -1;
  text-align: right;
}

.search-measure-title {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}

.infrastructure-item,
.housing-type-item {
  text-transform: uppercase;
  color: var(--basic-white);
}

.button-show {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
}

.sort {
  display: flex;
  padding: 0 73px;
}

.sort-list {
  display: flex;
}

.found-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.sort-list a,
.scroll-up,
.scroll-down {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  opacity: 0.3;
}
.sort-list a:visited {
  text-decoration: none;
  color: var(--basic-seagul);
  opacity: 1;
}

.sort-list a:hover {
  color: var(--basic-seagul);
  opacity: 1;
}

.sort-list a:active {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 1;
}

.results {
  padding: 0 73px;
}

.results-box {
  display: flex;
  padding: 30px 0;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.result-box-info {
  text-transform: uppercase;
}

.button-more {
  width: 110px;
  height: 27px;
  background-color: var(--basic-seagul);
  margin: 0 auto;
}

.button-more a {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
}
.button-book button{
  background-color: var(--special);
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  width: 142px;
  height: 27px;
  border: 0px;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray);
  text-transform: uppercase;
  color: var(--basic-extra-gray);
  vertical-align: middle;
  margin: 0 auto;
}

/*footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 73px;
}

.social-list {
  display: flex;
}

.footer-phone {
  text-decoration: none;
}

.social-button {
  display: block;
  margin: auto;
  background-color: var(--basic-seagul);
  width: 46px;
  height: 48px;
}
.social-button img:active {
  filter: opacity(0.3)
}
.website-by {
  line-height: 26px;
  text-transform: uppercase;
}

.logo-creator:hover {
/*не понятно с масками(*/
}

.logo-creator:active {
/*не понятно с масками(*/
}

/*form*/

.search-button {
  width: 568px;
  height: 86px;
  background-color: var(--special);
  color: var(--basic-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: 0px;
}

.search-button:hover,
.button-book button:hover {
  background-color: var(--special-dark);
}

.search-button:active,
.button-book button:active {
  background-color: var(--special-darkest);
  color: var(--basic-white-hover);
}

.interested {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.indicate {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
}

.date-icon,
.number {
  background-color: var(--basic-gray);
  border: 0px;
  background-image: url(../img/icons/calendar.svg);
  background-position: 316px center;
  background-repeat: no-repeat;
}

.date-icon:hover {
  background-color: var(--basic-dark-gray);
}

.date-icon:focus {
  background-color: var(--basic-white);
  outline: none;
  border:  2px solid var(--basic-lighter-gray);
  box-sizing: border-box;
}

.arrow {
  color: var(--basic-darkest-gray);
}

.arrow:hover {
  color: var(--basic-black);
}

.arrow:active {
  color: var(--basic-seagul);
}

.button-find {
  width: 458px;
  height: 58px;
  color: var(--basic-white);
  background-color: var(--basic-seagul);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0px;
}

.button-find:hover,
.social-button:hover,
.button-more:hover {
  background-color: var(--basic-seagul-medium);
}

.button-find:active,
.social-button:active,
.button-more:active a {
  background-color: var(--basic-seagul-dark);
  color: var(--basic-white-hover)
}

.search-form {
  position: absolute;
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  box-shadow: 0px 7px 15px var(--basic-shadow);

}

.date-icon,
.number {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.search-form [type="date"] {
  width: 346px;
  height: 38px;
}

/*========outlines========*/

.container {
  outline: 1px solid red;
}
.main-header {
  outline: 1px solid greenyellow;
  outline-offset: -1px;
}

.main-footer {
  outline: 1px solid orange;
  outline-offset: -1px;
}

.reasons-list > li {
  outline: 1px solid blue;
  outline-offset: -1px;
}

.search-measure-form {
  outline: 1px solid violet;
  outline-offset: -1px;
}

.results {
  outline: 1px solid purple;
  outline-offset: -1px;
}

.site-nav {
  outline: 1px solid black;
  outline-offset: -1px;;
}

.social-list {
  outline: 1px solid deeppink;
  outline-offset: -1px;
}
