@font-face {
  font-family: PT Sans;
  src:
  url("../fonts/PTSans.woff2") format("woff2"),
  url("../fonts/PTSans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:  PT Sans;
  src:
  url("../fonts/PTSans-Bold.woff2") format("woff2"),
  url("../fonts/PTSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-black: #000000;
  --basic-extra-dark: #333333;
  --basic-light-gray: #eeeeee;
  --basic-lighter-gray: #e5e5e5;
  --basic-gray: #f2f2f2;
  --basic-another-gray: #CACACA;
  --basic-yet-another-gray: #ababab;
  --basic-dark-gray: #EBEBEB;
  --basic-darkest-gray: #A9A9A9;
  --basic-extra-gray: #666666;
  --basic-white: #ffffff;
  --basic-seagul: #81B3D2;
  --basic-seagul-medium: #669EC0;
  --basic-seagul-dark: #5496BD;
  --basic-white-hover: rgba(255, 255, 255, 0.3);
  --basic-shadow: rgba(0, 1, 1, 0.15);
  --box-shadow: rgba(0, 1, 1, 0.2);

  --special: #766357;
  --special-dark: #604E43;
  --special-darkest: #503E33;
}

/*global*/

.page-body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-align: center;
  background-color: var(--basic-white);


  min-height: 100%;
  align-content: start;
}  /*если задать тут как в твоем видео height: 100%; то футер не прижимается к низу, но зато при уменьшении окна по вертикали контент вылазиет из бади)) */


img {
  max-width: 100%;
  height: auto;
}

/*отключение дефолтных иконок*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* GRID */

.page {
  background-color: var(--basic-gray);
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 5px 15px var(--box-shadow);
  min-height: 100vh;
}

.main-container {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.reasons-list {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  margin: 0;
}

.reason-item-wide{
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, 1fr);
}
.reason-item-text{
  /*grid-column: ;*/
}

.reason-item-img {
  grid-column: 2 / -1;
  width: 800px;
  height: 256px;
}

.advise-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column: 1 / -1;
  min-height: 330px;
  align-content: center;
  background-color: var(--basic-white);
}




.reason-item-wide--second .reason-item-img {
    grid-column: 1 / -2;
}

.reason-item-text {
  background-color: var(--basic-seagul);
}

.search-measure-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.variables {
  grid-column: -1/-3;
}


/*navigation*/

.site-logo-img {
  display: block;
  width: 138px;
  height: 70px;
}

.main-header {
  padding: 0 73px;
}

.main-nav {
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--basic-black);
  background-color: transparent;
  margin: 0;
}

.site-nav a {
  text-decoration: none;
  color: var(--basic-black);
  vertical-align: middle;
}

.site-nav,
.reasons-list,
.advise-list,
.social-list,
.infrastructure-list,
.housing-type-list,
.sort-list,
.amora-info-list,
.desert-quail-list,
.villas-diablo-list,
.rating-list {
  list-style: none;
  padding-left: 0;
}

.site-nav-current a {
  color: var(--special);
}

.site-nav a:hover {
color: var(--basic-seagul);
}

.site-nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 56px;
}

.site-nav-item {
  margin: 0;
}


.main-header-logo {
  position: relative;
  margin: 0 auto;
}

/*main*/

.welcome-img {
  width: 457px;
  height: 351px;
}

.intro {
  top: 55px;
  margin: 0 auto;
  width: 1200px;
  height: 509px;
  background:
    url(../img/main-page-background-shape.svg) center bottom no-repeat,
    var(--basic-seagul) url(../img/background-mountain-main-page.jpg) top center no-repeat;
}

.intro img {
margin-top: 78px;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  margin: 0;
  border: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 216px;
  padding: 0 20px;
}

.title-main,
.hashtag,
.footer-phone {
  margin: 0;
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
}

.title-main-description {
  text-transform: uppercase;
  line-height: 26px;
  color: var(--basic-extra-dark);
}

.reason-item {
  background-color: var(--basic-light-gray);
}

.advise-item {
  position: relative;
  top: 20px;
  background-color: var(--basic-white);
}

.advise-house:before {
  content: "";
  position: absolute;
  top: -80px;
  background-image: url(../img/icons/house.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 72px;
}

.advise-food:before {
  content:"";
  position: absolute;
  top: -80px;
  left: 163px;
  background-image: url(../img/icons/burger.svg);
  background-position: center;
  width: 75px;
  height: 70px;
}

.advise-present:before {
  content:"";
  position: absolute;
  top: -80px;
  left: 170px;
  background-image: url(../img/icons/present.svg);
  background-position: center;
  width: 64px;
  height: 77px;
}

[class^="title-reason"] {
  font-size: 21px;
  line-height: 21px;
  text-transform: uppercase;
}

[class^="reason-description"] {
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.title-reason {
  margin-top: 48px;
  text-transform: uppercase;
}

.title-reason-1, .title-reason-2,
.num-1, .num-2,
.reason-description-1, .reason-description-2 {
  color: var(--basic-white);
}

.advise-title {
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
}

.advise-description {
  color: var(--basic-extra-dark);
  text-transform: uppercase;
}

.search-box {
  margin-top: 58px;
}

.map-img {
  display: block;
  width: 1199px;
  height: 594px;
}

/*=====catalog====*/

/* фильтр */

.search-measure {
  padding: 0 73px;
  background-image: url(../img/background-blur-catalog.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1200px 217px;
}

.search-measure-form [type="checkbox"] {
  display: none;
}

.infrastructure label::before,
.housing-type label::before {
  content: "";
  display: inline-block;
  padding-right: 15px;
  background-image: url(../img/icons/checkbox.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  vertical-align: middle;
}

.search-measure-form input[type="checkbox"]:checked + label::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icons/checkbox-checked.svg);
  width: 27px;
  height: 23px;
  vertical-align: middle;
}

.search-measure-form input[type="checkbox"]:disabled + label::before {
  content: "";
  display: inline-block;
  background-image: url(../img/icons/checkbox-off.svg);
  width: 23px;
  height:23px;
  vertical-align: middle;
}

.search-measure-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 217px;
}

.infrastructure,
.housing-type {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-between;
  margin-top: 27px;
  margin-bottom: 31px;
}

.infrastructure-list,
.housing-type-list {
  line-height: 45px;
  margin: 0;
}


.variables {
  grid-column: 3 / -1;
  justify-self: right;
  margin-top: 27px;
  margin-bottom: 31px;
  width: 316px;
}

.search-measure-title {
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: start;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 11px;
}

.infrastructure-item,
.housing-type-item {
  text-transform: uppercase;
  color: var(--basic-white);
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
}

.range-filter {
  width: 316px;
  margin-top: 20px;
}

.price-controls label {
  text-transform: uppercase;
  color: var(--basic-white);
}

.price-controls {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 312px;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
}

.max-price:before {
  content: "";
  position: absolute;
  top:7px;
  left: 156px;
  width: 2px;
  height: 22px;
  background: var(--basic-white);
}

.price-controls input {
  width: 55px;
  color: var(--basic-white);
  background: transparent;
  border: none;
  padding: 0;
  margin-top: 10px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3; /* не отображается*/
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background: var(--basic-white);
  opacity: 1;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-yet-another-gray);
  border-radius: 50%;
  box-shadow: 0 2px 0 var(--basic-yet-another-gray);
  cursor: pointer;
}

.range-controls .toggle:hover {
  transform: scale(1.1);
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 160px;
}

.button-show {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  width: 137px;
  height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
}

.button-show:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* ===== строка сортировки ==== */

.sort {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 73px;
}

.sort-list {
  flex-grow: 1;
  margin-left: 6px;
  display: flex;
}


.sort-price {
  width: 81px;
}

.sort-type {
  width: 82px;
}

.found-result {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  width: 135px;
  text-align: left;
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 29px;
  text-align: left;
  width: 110px;
}

.sort-price a, .sort-type a, .sort-rating a {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-black);
  text-decoration: underline dotted var(--basic-seagul);
  opacity: 0.3;
}

.sort-price-current a {
  color: var(--basic-seagul);
  opacity: 1;
  text-decoration: none;
}


.sort-list a:hover {
  color: var(--basic-seagul);
  opacity: 1;
  text-decoration: underline dotted;
}

.sort-list a:active {
  text-decoration: none;
  color: var(--basic-black);
  opacity: 1;
}

.sort-up {
  margin-left: auto;
  align-self: center;
}

.sort-up-button {
  display: block ;
  border: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid var(--basic-another-gray);
}

.sort-up-button:hover {
  border-bottom: 15px solid var(--basic-black);
}

.sort-up-button:active {
  border-bottom: 15px solid var(--basic-seagul);
}

.sort-down {
  margin-left: 12px;
  align-self: center;
}

.sort-down-button {
  display: block;
  border: none;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--basic-another-gray);
}

.sort-down-button:hover {
  border-top: 15px solid var(--basic-black);
}

.sort-list .sort-down-button:active,
.sort-list .sort-down-button-current {
  border-top: 15px solid var(--basic-seagul);
  opacity: 1;
}

.results-box {
  display: flex;
  justify-content: space-between;
  padding: 30px 73px;
  height: 90px;
  border-top: 1px solid var(--basic-lighter-gray);
}

.results-box-villas {
  border-bottom:  1px solid var(--basic-lighter-gray);
}

.result-box-container {
  margin-right: auto;
  margin-left: 29px;
  width: 258px;
  height: 90px;
}

.result-img {
  width: 135px;
  height: 90px;
}

.hotel-name {
  margin: 0;
}

.hotel-info-box {
  display: grid;
  grid-template-columns: 110px 142px;
  grid-template-rows: 21px 27px;
  column-gap: 6px;
  row-gap: 15px;
  margin: 0;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.hotel-name:hover {
  color: var(--basic-seagul);
}

.hotel-name:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.result-box-info {
  text-transform: uppercase;
  text-align: left;
}

.star-rating-four {
  width: 91px;
  height: 17px;
  background-image: url(../img/icons/star.svg);
  background-position: center right;
  background-repeat: space;
}

.star-rating-three {
  width: 66px;
  height: 17px;
  background-image: url(../img/icons/star.svg);
  background-position: center right;
  background-repeat: space;
}

.star-rating-two {
  width: 42px;
  height: 17px;
  background-image: url(../img/icons/star.svg);
  background-position: center right;
  background-repeat: space;
}

.rating-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
}


.button-more {
  width: 110px;
  height: 27px;
  background-color: var(--basic-seagul);
  margin: 0 auto;
}

.button-more a {
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
}
.button-book button{
  background-color: var(--special);
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
  width: 142px;
  height: 27px;
  border: 0;
}

.rating {
  width: 110px;
  height: 27px;
  background-color: var(--basic-gray);
  text-transform: uppercase;
  color: var(--basic-extra-gray);
  vertical-align: middle;
  margin: 0 auto;
}

/* ==== footer ==== */

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 0 73px;
  margin: 23px 0;
}



.footer-social {
  min-width: 150px;
  align-self: center;
}

.social-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.social-list a {
  align-self: center;
}

.social-item +li {
  margin-left: 6px;
}

.footer-phone {
  text-decoration: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-seagul);
  width: 46px;
  height: 48px;
}

.social-item-twitter .social-button::before {
  content: "";
  display: block;
  width: 17px;
  height: 25px;
  background-image: url(../img/icons/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-button:active::before {
  filter: opacity(0.3)
}

.social-item-facebook .social-button::before {
  content: "";
  display: block;
  width: 17px;
  height: 25px;
  background-image: url(../img/icons/facebook.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.social-item-youtube .social-button::before {
  content: "";
  display: block;
  width: 17px;
  height: 25px;
  background-image: url(../img/icons/youtube.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.website-by {
  line-height: 26px;
  text-transform: uppercase;
}
.footer-copyright {
display: flex;
}

.logo-img {
  margin: 10px;
}

.logo-creator:hover {
/*не понятно с масками(*/
}

.logo-creator:active {
/*не понятно с масками(*/
}


/* ==== form ==== */

.search-button {
  width: 568px;
  height: 86px;
  background-color: var(--special);
  color: var(--basic-white);
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  border: 0;
}

.search-button:hover,
.button-book button:hover {
  background-color: var(--special-dark);
}

.search-button:active,
.button-book button:active {
  background-color: var(--special-darkest);
  color: var(--basic-white-hover);
}

.interested {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.indicate {
  font-size: 14px;
  text-transform: uppercase;
  line-height: 24px;
}

.date-icon,
.number {
  background-color: var(--basic-gray);
  border: 0;
  background-image: url(../img/icons/calendar.svg);
  background-position: 316px center;
  background-repeat: no-repeat;
}

.date-icon:hover {
  background-color: var(--basic-dark-gray);
}

.date-icon:focus {
  background-color: var(--basic-white);
  outline: none;
  border:  2px solid var(--basic-lighter-gray);
  box-sizing: border-box;
}

.arrow {
  width: 38px;
  height: 38px;
  padding: 0;
  border: none;
  cursor: pointer;

}

.arrow svg {
  color: var(--basic-darkest-gray);
  width: 12px;
  height: 15px; /* все поехало( */
}

.arrow:hover svg {
  fill: var(--basic-black);
  /* не работает */
}

.arrow:active svg {
  fill: var(--basic-seagul);
  /* не работает */
}

.button-find {
  width: 458px;
  height: 58px;
  color: var(--basic-white);
  background-color: var(--basic-seagul);
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
}

.button-find:hover,
.social-button:hover,
.button-more:hover {
  background-color: var(--basic-seagul-medium);
}

.button-find:active,
.social-button:active,
.button-more:active a {
  background-color: var(--basic-seagul-dark);
  color: var(--basic-white-hover)
}

.search-form {
  position: absolute;
  margin: 0;
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  box-shadow: 0 7px 15px var(--basic-shadow);

}

.search-form-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 173px;
  padding: 55px;
}

.search-form-item {
  margin: 0;
  width: 458px;
}

.date-icon,
.number {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
}

.search-form [type="date"] {
  width: 346px;
  height: 38px;
  padding-left: 13px;
}

.number {
  width: 38px;
  height: 38px;
  padding: 0;
  text-align: center;
}
